:root.dark {
  --border-btn: 1px solid rgb(220, 220, 220);
  --color-base-bg: #121212;
  --color-base-text: rgb(240, 240, 240);
  --color-btn-bg: rgb(36, 36, 36);

}

:root.light {
  --border-btn: 1px solid rgb(36, 36, 36);
  --color-base-bg: rgb(240, 240, 240);
  --color-base-text: rgb(18, 18, 18);
  --color-btn-bg: rgb(220, 220, 220);
}

:root.dark::selection {

  background-color: rgb(255, 128, 128);
  color: white;
}

:root{


  --main-color: #ff8080;
  --dark-color: #6e2929;
}

body{
  color: var(--color-base-text);
  background-color: var(--color-base-bg);

  padding: 0px;
  font-family: "UnifrakturCook", system-ui;

  color: var(--main-color);

}

.grid{

  display: grid;

  margin: auto;

  width: 700px;
  height: 700px;

  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;

  user-select: none;
  gap: 10px;
}


.cell{

  color: var(--color-base-bg);
  background-color: var(--main-color);

  display: flex;
  align-items: center;
  justify-content: center;

  font-family: "UnifrakturCook", system-ui;
  font-size: 100px;


  transition: background-color .2s ease-out;
}


.cell:hover.empty{

  background-color: var(--dark-color);

  transition: background-color .2s ease-out;

  cursor: pointer;

}


.player-names{

  width: 700px;
  margin: auto;
  display: flex;
  justify-content:space-between;

  align-items: baseline;
}

.results{

  width: 700px;
  margin: 10px auto;

  display: none;
}

.results.visible{

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.results button{

  font-size: inherit;
  height: 3em;
  width: 100%;

  background-color: var(--main-color);
}


.results h1{

  color: var(--main-color);
}


.player-names h1{
  color: var(--dark-color);
}

.player-names .current-player{

  color: var(--main-color);
  font-size: 2.5em;
}


.cell.win{

  color: var(--main-color);
  background-color: transparent;

  animation: color 0s ease-out;
}


.cell.win.first{
  animation: win 1s 1 ease-in-out 0s;

}

.cell.win.second{
  animation: win 1s 1 ease-in-out .250s;

}

.cell.win.third{
  animation: win 1s 1 ease-in-out .50s;

}


@keyframes win{

  0%{
    background-color: transparent;
    transform: rotateY(0deg);
  }
  100%{
    background-color: transparent;
    transform: rotateY(720deg);
  }
}


